*{
	margin: 0;
	padding:0;
	box-sizing:  border-box;
}
#navbarNav{
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
}
.nav-item{
    padding: 20px;
    font-size: 20px;
    color: white;
}
.nav-item a{
color: white;
}

.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/background-gb606bed85_1280.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  .bunner{
    /* width: 90%; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* padding: 30px 30px; */
   
}
.col-1{
    flex-basis: 50%;
	min-width: 100%;
}
.col-1 h2{
        font-size:55px;
        line-height: 40px;
        margin: 25px 0;
        color: white;
}
.col-1 p{
    font-size:25px;
    line-height: 40px;
    margin: 35px 0;
    justify-content: center;
    color: white;
}
.image{
    /* border-radius: 50%; */
    /* height: 100vh; */
    /* background-color: tomato; */
}
.image img{
    height: 50vh;
    border-radius: 15%;
margin-bottom: 50px;
opacity: 0.8;

}
.container-lg{
    display: flex;
    margin-top: 7%;
    
}
.col-6{
    padding: 0 30px;
    line-height: 20px;
}
.bars h2{
    font-size: 20px;
}
.bars{
    padding: 20px 0;
}
.progress-bar{
    color: black;
}
.items{

    line-height: 30px;
}
.items .btn{
    margin-top: 40px;
    margin-right: 20px;
    font-size: 20px;
}
.col-6 h3{
    /* text-align: center; */
    font-size: 35px;
}
.items h2{
    padding-bottom: 20px;
}
.card .fa{
    /* border-radius: 100px; */
    font-size: 60px;
    /* height: 30vh; */
    text-align: center;
    padding: 30px 0;

}
#card-content{
    padding-top: 60px;
}
/* BUNNER */
.parallax{
    background-image: url("/images/background-gb606bed85_1280.jpg");
    background-size: 100%;
    background-attachment: fixed;
    
}
.parallax-inner{
    padding-top: 6%;
    padding-bottom: 6%;
}
#row-parallax h2,h3{
    color: white;
    font-size: 29px;
    justify-content: space-around;
}
#row-parallax{
    justify-content: space-around;
    justify-content: space-evenly;
}
#row-parallax .col{
padding-right: 20px;
width: 100%;
background-color: tomato;
}
#cont-parallax{
    padding-top: 100px;
}
.row .col-3 .btn{
    text-align: center;
    justify-content: center;
   width:50%;
   font-size: 20px;
   margin-top: 10%;
    /* background-color: tomato; */
}
.row .col-3 {
    text-align: center;
}