* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#navbarNav {
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
}

.nav-item {
    padding: 20px;
    font-size: 20px;
    color: white;
}

.nav-item a {
    color: rgb(255, 255, 255);
}
#nav-a{
    color: #fff;
    font-size: 35px;
    font-family: 'Lobster', cursive;}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/hover\ in\ css.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.nav-item a:hover{
    color: rgb(255, 255, 255);
    transform: translateX(-15px);
    transition: transfom.5s;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.bunner {
    /* width: 90%; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* padding: 30px 30px; */

}

.col-1 {
    flex-basis: 50%;
    min-width: 100%;
}

.col-1 h2 {
    font-size: 55px;
    line-height: 40px;
    margin: 25px 0;
    color: white;
}

.col-1 p {
    font-size: 25px;
    line-height: 40px;
    margin: 35px 0;
    justify-content: center;
    color: white;
}

.image {
    /* border-radius: 50%; */
    /* height: 100vh; */
    /* background-color: tomato; */
}

.image img {
    height: 50vh;
    border-radius: 15%;
    margin-bottom: 50px;
    opacity: 0.8;

}

.container-lg {
    display: flex;
    margin-top: 7%;

}

.col-6 {
    padding: 0 30px;
    line-height: 20px;
}

.bars h2 {
    font-size: 20px;
}

.bars {
    padding: 20px 0;
}

.progress-bar {
    color: black;
}

.items {

    line-height: 30px;
}
.items p{
    text-align: left;
}

.items .btn {
    margin-top: 40px;
    margin-right: 20px;
    font-size: 20px;
}
.items .btn:hover{
    background-color: #fff;
    color: black;
}

.col-6 h3 {
    /* text-align: center; */
    font-size: 35px;
}

.items h2 {
    padding-bottom: 20px;
}

.card .fa {
    /* border-radius: 100px; */
    font-size: 60px;
    /* height: 30vh; */
    text-align: center;
    padding: 30px 0;

}

#card-content {
    padding-top: 60px;
}
/* hobbies&intrest */
.title{
    width: 100%;
}
.title h2{
    text-align: center;
}
.intrest{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 5px;
}
.intrest:hover{
    background-color: rgb(56, 55, 55);
    color: white;
    transition: 2s;
    cursor: pointer;
}
.one{
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}
.two{
    display: flex;
    justify-content: space-around;
}
/* services */
#card-services{
    border:  1px solid black; 

}
#services{
    padding: 10px 10px;
}
#services:hover{
    transform: translateY(-15px);
     transition: transfom.3s;
     background-color: #252b42;
     padding: 3px 3px;
}

/* BUNNER */
.parallax {
    background-image: url("/images/background-gb606bed85_1280.jpg");
    background-size: 100%;
    background-attachment: fixed;

}
#cont-parallax{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}
.parallax-inner {
    padding-top: 6%;
    padding-bottom: 6%;
}

#row-parallax h2,
h3 {
    color: white;
    font-size: 29px;
    justify-content: space-around;
}

#row-parallax {
    justify-content: space-around;
    justify-content: space-evenly;
}

#row-parallax .col {
    padding-right: 20px;
    width: 100%;
    background-color: tomato;
}

#cont-parallax {
    padding-top: 100px;
}
.parallax-inner .btn:hover{
    background: black;
    border: 1px solid white;
    color: white;
}
/* portfolio */
#portfolio:hover{
    transform: translateY(-15px);
    transition: transfom.3s; 
    border: 1px solid black;
    background-color: black;
    padding: 3px 3px;
}

.row .col-3 .btn {
    text-align: center;
    font-size: 20px;
    margin-top: 8%;
}

.row .col-3 {
    text-align: center;
}

.card-footer .btn {
    width: 100%;
}

#profile img {
    width: 15%;
    border-radius: 20px;
}
#portfolio img{
    max-width: fit-content;
    width: 100%;
}



.testimonilas {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner-testimonials {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 100px;
    height: 5px;
    background: black;
    margin: 26px auto;

}

#row {
    display: flex;
    justify-content: center;
}

.colums {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.colums:hover{
    transform: translateY(-15px);
    transition: transform.3s;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: black;
    margin-bottom: 20px;
}

.contact h2, p{
    text-align: center;
}
.contact{
    width: 100%;
}
#socials .fa{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
    color: black;
}
#socials .fa:hover{
    transform: translateY(-15px);
    transition: transform.3s;
}
#socials a{
    text-decoration:none
}

#footers-1{
    padding-top: 80px;
}

.icons{
    display: flex;
}
#contact{
    background:#f1f1f1;

}
#contact:hover{
    transform: translateY(-15px);
    transition: transform.3s;
}
#col-contact{
    padding-top: 20px;
}
@media screen and (max-width: 764px){
    #navbarNav{
        text-align: center;
        
    }
    .bunner {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
    .col-1 h2{
        font-size: 20px;
    }
    .col-1 p{
        font-size: 18px;
    }
    #aboutme{
        display: flex;
        flex-direction: column;
    }
    #me{
        width: 100%;
        padding: 20px 70px;
    }
    .title{
        width: 100%;

    }
    .one,.two{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 100px;


    }
    .intrest{
        width: 100%;
        padding: 20px 70px;
    }
    #card-content{
        padding: 20px 90px;

    }
   
    #row{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    #row-parallax h2{
        font-size: 15px;
    }
    #row-parallax h3{
        font-size: 15px;
    }
    .colums{
        width: 100%;
        max-width: 100%;
    }
    #footers-1{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    #for-icn{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    #messege{
        width: 100%;
    }
    #messege input{
        width: 100%;
    }
    #messege textarea{
        width: 100%;
    }
    #hire{
        width: 70%;
    }

}
@media screen and (max-width: 432px){
    .one,.two{
        width: 100%;
    }
    .intrest h4{
        width: 100%;
        font-size: 15px;
        text-align: left;
    }
    #row-parallax h2{
        font-size: 10px;
    }
    #row-parallax h3{
        font-size: 10px;
    }
    #row-parallax .btn{
        width: 100%;
        padding: 20px 20px;
    }
    #hire{
        width: 70%;
    }
}

