*{
	margin: 0;
	padding:0;
	box-sizing:  border-box;
}
#navbarNav{
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
}
.nav-item{
    padding: 20px;
    font-size: 20px;
    color: white;
}
.nav-item a{
color: white;
}

.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/digitization-g63091effc_1920.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.container {
    position: absolute;
    margin: 20px;
    width: auto;
  }